*
!.config/
!.config/alacritty/
!.config/alacritty/**
!.config/bspwm/
!.config/bspwm/**
!.config/conky/
!.config/conky/**
!.config/fontconfig/
!.config/fontconfig/**
!.config/git/
!.config/git/**
!.config/mpv/
!.config/mpv/**
!.config/mvi/
!.config/mvi/**
!.config/nvim/
!.config/nvim/**
!.config/ranger/
!.config/ranger/**
!.config/tmux/
!.config/tmux/**
!.config/yazi/
!.config/yazi/**
!.gitignore
!.local/
!.local/bin/
!.local/bin/**
!.local/lib/
!.local/lib/lua/
!.local/lib/lua/**
!.local/share/
!.local/share/applications/
!.local/share/applications/**
!.local/syscfg/
!.local/syscfg/**
!.readme.txt
!.xinitrc
!.zlogin
!.zprofile
!.zshenv
!.zshrc
?**.gitignore*
